* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}   

.page {
    position: relative;
    min-height: 100vh;
    padding: 32px;
    background: rgb(245, 250, 250);
    overflow: hidden;
}

header {
    position: relative;
    display: flex;
    padding: 24px;
    min-width: 300px;
    width: 100%;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:
    0 0 5px rgba(0, 0, 0, .1);
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-profile p {
    font-size: 14px;
    color: rgb(150, 150, 150);
}

.user-profile p:first-child {
    font-size: 24px;
    color: rgb(100, 100, 100);
}

.user-profile img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    display: flex;
    margin-top: 16px;
    gap: 16px;
}

.content .row {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px 0;
}

.row-content {
    display: flex;
    gap: 16px;
    padding: 32px;
    min-width: 300px;
    min-height: 125px;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:
    0 0 5px rgba(0, 0, 0, .1);
    font-size: 14px;
}

.row-content .logo, .prompt-input .logo {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 24px 16px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(100, 200, 200), rgb(100, 225, 150));
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.prompt-input .logo {
    width: 40px;
    height: 40px;
    padding: 0 16px;
}

.row-content p {
    min-width: 250px;
    color: rgb(100, 100, 100);
}

.row.card-row {
    flex-direction: row;
    gap: 16px;
}

.card {
    display: flex;
    width: 100%;
    padding: 32px;
    min-width: 250px;
    min-height: 265px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:
    0 0 5px rgba(0, 0, 0, .1);
}

.card h5 {
    font-size: 24px;
    color: rgb(100, 100, 100);
}

.card p {
    margin-top: 8px;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.card a {
    display: block;
    margin-top: 16px;
    padding-left: 8px;
    border-left: 2px solid rgb(100, 200, 200);
    text-decoration: none;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.card a:hover, .finish a:hover {
    color: rgb(100, 200, 200);
}

.act-box {
    display: flex;
    margin-top: 16px;
    width: 100%;
    gap: 16px;
}

.finish {
    padding: 16px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:
    0 0 5px rgba(0, 0, 0, .1);
}

.finish a {
    display: block;
    padding-left: 8px;
    text-decoration: none;
    font-size: 14px;
    border-left: 2px solid rgb(100, 200, 200);
    color: rgb(100, 100, 100);
}

.reset-page {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(245, 250, 250);
    color: rgb(100, 100, 100);
}

.reset-page .login-layer {
    display: flex;
    padding: 32px 64px;
    max-width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.form-head {
    width: 100%;
}

.login-layer.ekskul-edit {
    min-width: 300px;
    width: 75%;
    max-width: 800px;
}

.login-layer.ekskul-edit form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 16px 32px;
}

.login-layer form h5 {
    font-weight: 600;
    font-size: 24px;
}

.login-layer form .prompt {
    margin-top: 16px;
}

.ekskul-edit form .prompt {
    margin-top: 0;
}

.ekskul-edit form .prompt p {
    margin-top: 0;
}

form .prompt p {
    font-size: 14px;
}

form .prompt input, form .prompt select {
    padding: 8px 0;
    min-width: 150px;
    background: none;
    border: 0;
    border-bottom: 1px solid rgb(100, 100, 100);
    outline: none;
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.prompt input[type="file"] {
    margin-top: 8px;
    max-width: 150px;
    background: none;
    padding-left: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: transparent;
  }
  
.prompt input[type="file"]:hover {
    box-shadow:
    inset 3px 3px 3px rgba(0, 0, 0, .07),
    inset -1px -1px 1px rgba(0, 0, 0, .07);
}
  
.prompt input[type="file"]:hover::-webkit-file-upload-button {
    color: rgb(200, 200, 200);
}
  
.prompt input[type="file"]::-webkit-file-upload-button {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(100, 100, 100);
}

form input.phone-number::-webkit-inner-spin-button {
    appearance: none;
}

form .prompt select {
    cursor: pointer;
}

.ekskul-edit form button, .ekskul-edit form p {
    margin-top: 8px;
}

form button {
    display: block;
    margin-top: 16px;
    padding: 8px 16px;
    width: max-content;
    background: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    color: rgb(100, 100, 100);
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

form button:hover {
    box-shadow: 
    inset 3px 3px 3px rgba(0, 0, 0, .05),
    inset -1px -1px 1px rgba(0, 0, 0, .05);
    color: rgb(200, 200, 200);
}

form .btn {
    width: 100%;
}

form .prompt-input {
    display: flex;
    margin-top: 8px;
    align-items: center;
    gap: 8px;
}

form .prompt-input .icons {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, rgb(100, 200, 200), rgb(100, 225, 150));
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.login-layer p {
    margin-top: 32px;
    font-size: 12px;
}

.outer-load {
    margin-top: 32px;
    width: 100%;
    height: 5px;
    background: rgb(225, 225, 225);
    border-radius: 10px;
    overflow: hidden;
}

.inner-load {
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(100, 200, 200), rgb(100, 225, 150));
    transition: 1s;
}

@media (max-width: 1110px) {
    .row.card-row {
        flex-direction: column;
    }
    .row .row-content {
        min-height: 265px;  
    }
}

@media (max-width: 875px) {
    .content {
        flex-direction: column;
    }

    .content .row, .row .row-content {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .login-layer.ekskul-edit {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }
    .page {
        padding: 8px;
    }
    .row-content {
        flex-direction: column;
    }
    .row-content p {
        min-width: 100px;
        text-align: justify;
    }
}